/* @media screen and (max-width:1920px) and (max-height:1080px) { */
#first {
    background: rgb(254, 238, 0);
    margin: -9px;
    padding: 23px;
  }
  
  #image {
    height: 24px;
  }
  
  #image2 {
    height: 27px;
    margin-right: auto;
    margin-left: 28px;
  }
  
  .iframe {
    border: 2px solid black;
    width: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 253px;
    box-shadow: 10px 1px 11px gray;
  
  }
  
  .iframe2 {
    border: 2px solid black;
    width: 170px;
    margin-top: -235px;
    margin-left: 451px;
    border-radius: 10px;
  
    padding: 10px;
    box-shadow: 10px 1px 11px gray;
  }
  
  #a1 {
    font-size: medium;
    margin: 14px;
    top: -20px;
    position: relative;
    text-decoration: none;
    color: grey;
  }
  
  #a2 {
    position: relative;
    margin: 181px;
    top: -19px;
    text-decoration: none;
    font-size: 19px;
    color: black;
  }
  
  #input1 {
    width: 520px;
    margin-top: -53px;
    height: 38px;
  
    align-items: start;
    display: flex;
    justify-content: flex-start;
    left: 312px;
    position: relative;
    border-radius: 5px;
    border: none;
  }
  
  .p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 267px;
    top: -33px;
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
  
    color: black;
  
  }
  
  .p2 {
    justify-content: right;
    display: flex;
    width: 966px;
    margin-left: 10px;
    margin-top: -60px;
    font-size: 23px;
  
  }
  
  .p3 {
    justify-content: right;
    display: flex;
    bottom: 43px;
    position: relative;
    width: 1029px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  
  }
  
  .p4 {
    background-image: url(picture/login.png);
    background-repeat: no-repeat;
    position: relative;
    left: 1035px;
    top: -81px;
  
  }
  
  .p5 {
    justify-content: right;
    display: flex;
    width: 958px;
    margin-left: 121px;
    margin-top: -118px;
    font-size: 23px;
  
  }
  
  .p6 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 464px;
    top: -42px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .p7 {
    background-image: url(picture/whitlist.png);
    background-repeat: no-repeat;
    position: relative;
    left: 1160px;
    top: -81px;
  }
  
  .p8 {
    justify-content: right;
    display: flex;
    width: 966px;
    margin-left: 240px;
    margin-top: -118px;
    font-size: 23px;
  }
  
  .p9 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 576px;
    top: -42px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .p10 {
    background-image: url(picture/cart.png);
    background-repeat: no-repeat;
    position: relative;
    left: 1255px;
    top: -81px;
  }
  
  .second {
    background-color: white;
    margin: -58px;
    padding: 8px;
    width: 1484px;
    position: relative;
    left: 36px;
    position: relative;
    display: inline-block;
  }
  
  .a3 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 6px;
  }
  
  .a4 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 287px;
  cursor: pointer;
  top: -35px;
  }
  
  .a5 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 428px;
    top: -70px;
    cursor: pointer;
  }
  .a6 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 614px;
    top: -105px;
  
    cursor: pointer;
  }
  .a7 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left:  688px;
    cursor: pointer;
    top: -139px;
  }
  .a8 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 901px;
    top: -171px;
    cursor: pointer;
  }
  .a9 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 986px;
    top: -206px;
    cursor: pointer;
  }
  .a10 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 1056px;
    top: -240px;
    cursor: pointer;
  }
  .option1{
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    right: 0px;
    cursor: pointer;
  }
  /* } */
  
  
  
  
  .box{
  margin-top: 200px;
  width: 200px; height: 200px;
  position: relative;
  display:inline-block;
  
  background-color: #ccc;
  /* display: none; */
  /* position: absolute; */
  /* display: none; */
  }
  
  
  /* .a3:hover + .box{
  background-color: #fff;
  
  display: inline-block;
  }
  */
  
  /* *:focus {
  outline: none;
  } */
  
  
  .hover-element {
  color: black;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 138px;
  cursor: pointer;
  }
  
  .hidden-element {
  display: none;
  padding: 10px;
  background-color: #fffef6;
  color: black;
  border: 1px solid #ddd;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 10px;
  }
  .a4-hidden-element{
  display: none;
  padding: 10px;
  background-color: #fffef6;
  color: black;
  border: 1px solid #ddd;
  position: absolute;
  width: 500px;
  height: 500px;
  
  }
  .a5-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .a6-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .a7-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .a8-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .a9-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .a10-hidden-element{
  display: none;
  color: black;
  border: 1px solid #ddd;
  background: #fffef6;
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 10px;
  }
  .hover-element:hover + .hidden-element {
  display: block;
  
  }
  .a4:hover + .a4-hidden-element{
  display: block;
  
  }
  .a5:hover + .a5-hidden-element{
  display: block;
  
  }
  
  .a6:hover + .a6-hidden-element{
  display: block;
  background-color: grey;
  }
  .a7:hover + .a7-hidden-element{
  display: block;
  
  }
  .a8:hover + .a8-hidden-element{
  display: block;
  
  }
  .a9:hover + .a9-hidden-element{
  display: block;
  
  }
  .a10:hover + .a10-hidden-element{
  display: block;
  
  }
  .image hover{
  
  }
  .imagebanner{
  position: relative;
  top: -237px;
  
  
  left: -30px;
  }
  .imageslidder{
  position: relative;
  width: 903px;
  height: 233px;
  top: -238px;
  left: -9px;
  }
  #select{
  border-width: 8px;
  position: relative;
  top: 34px;
  left: -5px;
  border: none;
  font-weight: bold;
  
  
  }
  .men{
  height: 230px;
  width: 224px;
  position: relative;
  top: -240px;
  left: -8px;
  }
  
  .woman{
  width: 206px;
  height: 230px;
  position: relative;
  top: -240px;
  left: -12px;   
  
  }
  .imagedeal{
  width: 103px;
  height: 128px;
  top: -227px;
  position: relative;
  }
  .border1{
  width: 506px;
  height: 552px;
  position: relative;
  left: 10px;
  top: -214px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214)
  
  
  
  }
  h1{
  position: relative;
  left: 10px;
  text-transform: uppercase;
  display: flex;
  color: rgb(64, 69, 83);
  font-weight: bold;
  font-size: 28px;
  }
  
  .imagedeal1{
  width: 243px;
  height: 237px;
  position: relative;
  left: 7px;
  top: -23px;
  }
  
  .imagedeal2{
  width: 243px;
  height: 237px;
  position: relative;
  left: 8px;
  top: -17px;
  }
  .dealimage{
  background-color: rgb(245, 244, 244);
  
  height: 87px;
  position: relative;
  top: -129px;
  left: 62px;
  
  }
  .seconddeal{
  position: relative;
  top: -782px;
  left: 535px;
  width: 443px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 553px;
  }
  .thirddeal{
  border: 1px solid black;
  height: 188px;
  width: 186px;
  top: 37px;
  position: relative;
  left: 10px;
  border: none;
  background: rgb(245, 244, 244);
  
  
  }
  .paragraph{
  position: relative;
  left: 0px;
  top: 115px;
  background: rgb(245, 244, 244);
  }
  .dealimage2{
  
  background-color: rgb(245, 244, 244);
  height: 87px;
  position: relative;
  top: -55px;
  left: 57px; 
  }
  .fourthdeal{
  border: 1px solid black;
  height: 187px;
  width: 186px;
  top: -309px;
  position: relative;
  left: 245px;
  border: none;
  background: rgb(245, 244, 244);
  }
  .paragraph1{
  position: relative;
  left: 0px;
  top: 115px;
  background: rgb(245, 244, 244);
  }
  .fifthdeal{
  border: 1px solid black;
  height: 188px;
  width: 186px;
  top: 40px;
  position: relative;
  left: -234px;
  border: none;
  background: rgb(245, 244, 244);
  }
  .strike1{
  position: relative;
  top: -57px;
  left: -34px;
  font-size: 13px;
  }
  .paragraph3{
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: -103px;
  left: 85px;
  }
  .strike2{
  position: relative;
  top: 27px;
  left: -54px;
  font-size: 13px;
  }
  .paragraph4{
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: -18px;
  left: 85px;
  }
  .dealimage3{
  height: 77px;
  width: 76px;
  position: relative;
  left: 48px;
  top: -40px;
  
  
  
  }
  .strike3{
  position: relative;
  top: 52px;
  left: -54px;
  font-size: 13px;
  
  
  
  }
  .paragraph5{
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: 8px;
  left: 85px;
  
  }
  .paragraph6{
  position: relative;
  top: 105px;
  left: 15px;
  
  }
  .dealimage4{
  height: 77px;
  width: 76px;
  position: relative;
  left: 48px;
  top: -40px;
  
  
  
  }
  .sixthdeal{
  height: 188px;
  width: 186px;
  top: -163px;
  position: relative;
  left: 4px;
  border: none;
  background: rgb(245, 244, 244);
  
  }
  
  .paragraph7{
  position: relative;
  left: 1px;
  top: 105px;
  }
  .dealimage4{
  position: relative;
  top: -57px;
  
  
  }
  .strike4{
  position: relative;
  top: 37px;
  left: -65px;
  font-size: 13px;
  
  
  }
  .paragraph8{
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: -13px;
  left: 99px;
  
  
  }
  .seventhdeal{
  position: relative;
  top: -727px;
  left: 216px;
  width: 337px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 553px;
  
  
  }
  .dealimage5{
  width: 323px;
  position: relative;
  top: 60px;
  
  }
  .dealimage6{
  width: 330px;
  
  position: relative;
  top: 139px;
  }
  .heading{
  position: relative;
  top: 175px;
  left: -971px;
  font-size: 25px;
  }
  .ninedeal{
  position: relative;
  top: 174px;
  left: -969px;
  width: 219px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 301px;
  
  
  }
  .paragraph9{
  
  font-weight: bold;
  position: relative;
  top: -13px;
  left: 6px;
  }
  .dealimage7{
  height: 215px;
  position: relative;
  left: 29px;
  }
  .paragraph10{
  position: absolute;
    top: 235px;
    font-weight: bold;
    left: 8px;
  }
  .paragraph11{
  position: relative;
  top: -13px;
    left: 22px;
  font-size: 10px;
  }
  .paragraph12{
  font-weight: bold;
    position: absolute;
    top: 262px;
    left: 52px;
  }
  .strike5{
  font-size: 12px;
  color: black;
  position: absolute;
  top: 281px;
  left: 101px;
  }
  .paragraph13{
  color: rgb(56, 174, 4);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    left: 137px;
    top: -38px;
    position: relative;
  }
  .div1{
  border: 1px solid rgb(235, 68, 72);
  color: rgb(255, 255, 0);
  
  width: 337px;
  position: relative;
  left: 10px;
  }
  /* .badobadi{
  height: 100px;
  position: relative;
  left: 238px;
  }
  .ghania{
  background-color: rgb(235, 68, 72);
  position: relative;
  top: 10px;
  } */
  .tendeal{
  position: relative;
  top: -344px;
  left: 227px;
  width: 219px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 301px;
  
  
  
  
  }
  .imggalaxys24{
  position: relative;
  left: 17px;
  top: -3px;
  width: 163px;
  }
  .paragraph14{
  position: relative;
  top: -27px;
  font-weight: bold;
  }
  .paragraph15{
  position: relative;
  left: 25px;
  top: -26px;
  font-size: 10px;
  }
  .paragraph16{
  position: relative;
  left: 58px;
  top: -60px;
  font-weight: bold;
  }
  .strike6{
  position: relative;
  left: 110px;
  top: -93px;
  font-size: 13px;
  }
  .paragraph17{
  position: relative;
  left: 159px;
  top: -122px;
  font-size: 13px;
  color: rgb(56, 174, 4);
  }
  .elevendeal{
  
  position: relative;
  top: -432px;
  left: 234px;
  width: 219px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 301px;
  
  }
  .imgiphone14{
  position: relative;
  left: 17px;
  top: -3px;
  width: 163px;
  }
  .paragraph18{
  position: relative;
  left: 11px;
  top: -29px;
  font-weight: bold;
  }
  .paragraph19{
  position: relative;
  left: 13px;
  top: -72px;
  
  font-weight: bold
  }
  .paragraph20{
  position: relative;
  left: 26px;
  top: -59px;
  font-size: 10px;
  }
  .paragraph21{
  position: relative;
  left: 54px;
  top: -93px;
  font-weight: bold;
  }
  .strike7{
  position: relative;
  left: 110px;
  top: -124px;
  font-size: 13px;
  }
  .paragraph22{
  position: relative;
  left: 159px;
  top: -151px;
  font-size: 13px;
  color: rgb(56, 174, 4);
  }
  .thirteendeal{
  position: relative;
  top: -464px;
  left: 234px;
  width: 219px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 301px;
  }
  .imgsamsunga15{
  position: relative;
  left: 17px;
  top: -3px;
  width: 163px;
  }
  .paragraph23{
  position: relative;
  left: 11px;
  top: -29px;
  font-weight: bold;
  }
  .paragraph24{
  position: relative;
  left: 10px;
  top: -72px;
  
  font-weight: bold
  }
  .paragraph25{
  position: relative;
  left: 26px;
  top: -59px;
  font-size: 10px;
  }
  .paragraph26{
  position: relative;
  left: 54px;
  top: -93px;
  font-weight: bold;
  }
  .fourteendeal{
  position: relative;
  top: -764px;
  left: 469px;
  width: 219px;
  box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
  height: 301px;
  }
  .imgitela17{
  position: relative;
  left: 17px;
  top: -3px;
  width: 163px;
  }
  .paragraph27{
  position: relative;
  left: 11px;
  top: -29px;
  font-weight: bold;
  }
  .paragraph28{
  position: relative;
  left: 10px;
  top: -72px;
  
  font-weight: bold
  }
  .paragraph29{
  position: relative;
  left: 26px;
  top: -59px;
  font-size: 10px;
  }
  .paragraph30{
  position: relative;
  left: 54px;
  top: -93px;
  font-weight: bold;
  }
  .strike8{
  position: relative;
  left: 110px;
  top: -124px;
  font-size: 13px;
  }
  .paragraph31{
  position: relative;
  left: 159px;
  top: -151px;
  font-size: 13px;
  color: rgb(56, 174, 4);
  }
  .heading1{
  position: absolute;
    top: 298px;
    left: -460px;
  }
  .last{
  position: relative;
    left: -953px;
    width: 1341px;
    top: -39px;
  }
  .h2{
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  color: #404553;
  left: 10px;
    position: relative;
  }
  .lastpa{
  
  font-size: 16px;
  text-align: left;
  color: #404553;
  left: 10px;
    position: relative;
  }
  .lastimg{
  position: relative;
  left: 233px;
  top: 65px;
  }
  .h3{
  
  font-size: 15px;
  text-align: left;
  color: #404553;
  left: 236px;
    top: 60px;
    position: relative;
  }
  /* @media screen and (max-width:1920px) and (max-height:1080px) { */
    #first {
      background: rgb(254, 238, 0);
      margin: -9px;
      padding: 23px;
    }
  
    #image {
      height: 24px;
    }
  
    #image2 {
      height: 27px;
      margin-right: auto;
      margin-left: 28px;
    }
  
    .iframe {
      border: 2px solid black;
      width: 602px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 253px;
      box-shadow: 10px 1px 11px gray;
  
    }
  
    .iframe2 {
      border: 2px solid black;
      width: 170px;
      margin-top: -235px;
      margin-left: 451px;
      border-radius: 10px;
  
      padding: 10px;
      box-shadow: 10px 1px 11px gray;
    }
  
    #a1 {
      font-size: medium;
      margin: 14px;
      top: -20px;
      position: relative;
      text-decoration: none;
      color: grey;
    }
  
    #a2 {
      position: relative;
      margin: 181px;
      top: -19px;
      text-decoration: none;
      font-size: 19px;
      color: black;
    }
  
    #input1 {
      width: 520px;
      margin-top: -53px;
      height: 38px;
  
      align-items: start;
      display: flex;
      justify-content: flex-start;
      left: 312px;
      position: relative;
      border-radius: 5px;
      border: none;
    }
  
    .p1 {
      display: flex;
      justify-content: center;
      align-items: center;
      left: 267px;
      top: -33px;
      position: relative;
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-decoration: none;
  
      color: black;
  
    }
  
    .p2 {
      justify-content: right;
      display: flex;
      width: 966px;
      margin-left: 10px;
      margin-top: -60px;
      font-size: 23px;
  
    }
  
    .p3 {
      justify-content: right;
      display: flex;
      bottom: 43px;
      position: relative;
      width: 1029px;
      font-size: 16px;
      text-decoration: none;
      font-weight: bold;
      color: black;
  
    }
  
    .p4 {
      background-image: url(picture/login.png);
      background-repeat: no-repeat;
      position: relative;
      left: 1035px;
      top: -81px;
  
    }
  
    .p5 {
      justify-content: right;
      display: flex;
      width: 958px;
      margin-left: 121px;
      margin-top: -118px;
      font-size: 23px;
  
    }
  
    .p6 {
      display: flex;
      justify-content: center;
      align-items: center;
      left: 464px;
      top: -42px;
      position: relative;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  
    .p7 {
      background-image: url(picture/whitlist.png);
      background-repeat: no-repeat;
      position: relative;
      left: 1160px;
      top: -81px;
    }
  
    .p8 {
      justify-content: right;
      display: flex;
      width: 966px;
      margin-left: 240px;
      margin-top: -118px;
      font-size: 23px;
    }
  
    .p9 {
      display: flex;
      justify-content: center;
      align-items: center;
      left: 576px;
      top: -42px;
      position: relative;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  
    .p10 {
      background-image: url(picture/cart.png);
      background-repeat: no-repeat;
      position: relative;
      left: 1255px;
      top: -81px;
    }
  
    .second {
      background-color: white;
      margin: -58px;
      padding: 8px;
      width: 1484px;
      position: relative;
      left: 36px;
      position: relative;
      display: inline-block;
    }
  
    .a3 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 6px;
    }
  
    .a4 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 287px;
   cursor: pointer;
    top: -35px;
    }
  
    .a5 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 428px;
      top: -70px;
      cursor: pointer;
    }
    .a6 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 614px;
      top: -105px;
  
      cursor: pointer;
    }
    .a7 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left:  688px;
      cursor: pointer;
      top: -139px;
    }
    .a8 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 901px;
      top: -171px;
      cursor: pointer;
    }
    .a9 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 986px;
      top: -206px;
      cursor: pointer;
    }
    .a10 {
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      left: 1056px;
      top: -240px;
      cursor: pointer;
    }
    .option1{
      color: black;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      right: 0px;
      cursor: pointer;
    }
  /* } */
  
  
  
  
  .box{
  margin-top: 200px;
    width: 200px; height: 200px;
    position: relative;
    display:inline-block;
    
    background-color: #ccc;
    /* display: none; */
    /* position: absolute; */
    /* display: none; */
  }
  
  
  /* .a3:hover + .box{
    background-color: #fff;
  
    display: inline-block;
  }
   */
  
  /* *:focus {
    outline: none;
  } */
  
  
  .hover-element {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 138px;
    cursor: pointer;
  }
  
  .hidden-element {
    display: none;
    padding: 10px;
    background-color: #fffef6;
    color: black;
    border: 1px solid #ddd;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 10px;
  }
  .a4-hidden-element{
    display: none;
    padding: 10px;
    background-color: #fffef6;
    color: black;
    border: 1px solid #ddd;
    position: absolute;
    width: 500px;
    height: 500px;
  
  }
   .a5-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
   }
   .a6-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
   }
   .a7-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
   }
   .a8-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
   }
  .a9-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
  }
  .a10-hidden-element{
    display: none;
    color: black;
    border: 1px solid #ddd;
    background: #fffef6;
    position: absolute;
    width: 500px;
    height: 50px;
    padding: 10px;
  }
  .hover-element:hover + .hidden-element {
    display: block;
    
  }
  .a4:hover + .a4-hidden-element{
    display: block;
   
  }
  .a5:hover + .a5-hidden-element{
    display: block;
   
  }
  
  .a6:hover + .a6-hidden-element{
    display: block;
    background-color: grey;
  }
  .a7:hover + .a7-hidden-element{
    display: block;
    
  }
  .a8:hover + .a8-hidden-element{
    display: block;
   
  }
  .a9:hover + .a9-hidden-element{
    display: block;
    
  }
  .a10:hover + .a10-hidden-element{
    display: block;
   
  }
  .image hover{
  
  }
  .imagebanner{
    position: relative;
    top: -237px;
    
    
    left: -30px;
  }
  .imageslidder{
    position: relative;
    width: 903px;
    height: 233px;
    top: -238px;
    left: -9px;
  }
  #select{
    border-width: 8px;
    position: relative;
    top: 34px;
    left: -5px;
    border: none;
    font-weight: bold;
  
  
  }
  .men{
    height: 230px;
    width: 224px;
    position: relative;
    top: -240px;
    left: -8px;
  }
  
  .woman{
    width: 206px;
    height: 230px;
    position: relative;
    top: -240px;
    left: -12px;   
  
  }
  .imagedeal1{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .border1{
    width: 506px;
    height: 552px;
    position: relative;
    left: 10px;
    top: -214px;
   box-shadow: 2px 2px 2px 2px rgb(214, 214, 214)
   
  
  
  }
  .imagedeal2{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal3{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal4{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal5{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal6{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal7{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal8{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal9{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imaged10{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal11{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  .imagedeal12{
    width: 103px;
    height: 128px;
    top: -227px;
    position: relative;
  }
  
  
  h1{
   position: relative;
   left: 10px;
    text-transform: uppercase;
    display: flex;
  color: rgb(64, 69, 83);
  font-weight: bold;
  font-size: 28px;
  }
   
  .imagechase1{
    width: 243px;
    height: 237px;
    position: relative;
    left: 7px;
    top: -23px;
  }
  
  .imagechase2{
    width: 243px;
    height: 237px;
    position: relative;
    left: 8px;
    top: -17px;
  }
  .dealimage{
    background-color: rgb(245, 244, 244);
  
    height: 87px;
    position: relative;
    top: -129px;
    left: 62px;
  
  }
  .seconddeal{
    position: relative;
    top: -782px;
    left: 535px;
    width: 443px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 553px;
  }
  .thirddeal{
    border: 1px solid black;
    height: 188px;
    width: 186px;
    top: 37px;
    position: relative;
    left: 10px;
    border: none;
    background: rgb(245, 244, 244);
  
    
  }
  .paragraph{
    position: relative;
    left: 0px;
    top: 115px;
    background: rgb(245, 244, 244);
  }
  .dealimage2{
   
    background-color: rgb(245, 244, 244);
    height: 87px;
    position: relative;
    top: -55px;
    left: 57px; 
  }
  .fourthdeal{
    border: 1px solid black;
    height: 187px;
    width: 186px;
    top: -309px;
    position: relative;
    left: 245px;
    border: none;
    background: rgb(245, 244, 244);
  }
  .paragraph1{
    position: relative;
    left: 0px;
    top: 115px;
    background: rgb(245, 244, 244);
  }
  .fifthdeal{
    border: 1px solid black;
    height: 188px;
    width: 186px;
    top: 40px;
    position: relative;
    left: -234px;
    border: none;
    background: rgb(245, 244, 244);
  }
  .strike1{
    position: relative;
    top: -57px;
    left: -34px;
    font-size: 13px;
  }
  .paragraph3{
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: -103px;
    left: 85px;
  }
  .strike2{
    position: relative;
    top: 27px;
    left: -54px;
    font-size: 13px;
  }
  .paragraph4{
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: -18px;
    left: 85px;
  }
  .dealimage3{
    height: 77px;
    width: 76px;
    position: relative;
    left: 48px;
    top: -40px;
  
  
  
  }
   .strike3{
    position: relative;
    top: 52px;
    left: -54px;
    font-size: 13px;
  
  
  
  }
  .paragraph5{
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: 85px;
    
  }
  .paragraph6{
    position: relative;
    top: 105px;
    left: 15px;
  
  }
  .dealimage4{
    height: 77px;
    width: 76px;
    position: relative;
    left: 48px;
    top: -40px;
  
  
  
  }
  .sixthdeal{
    height: 188px;
    width: 186px;
    top: -163px;
    position: relative;
    left: 4px;
    border: none;
    background: rgb(245, 244, 244);
  
  }
  
   .paragraph7{
    position: relative;
    left: 1px;
    top: 105px;
   }
  .dealimage4{
  position: relative;
  top: -57px;
  
  
  }
  .strike4{
    position: relative;
    top: 37px;
    left: -65px;
    font-size: 13px;
  
  
  }
  .paragraph8{
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: -13px;
    left: 99px;
  
  
  }
  .seventhdeal{
    position: relative;
    top: -4335px;
    left: 980px;
    width: 337px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 553px;
  
  
  }
  .dealimage5{
    width: 323px;
    position: relative;
    top: 60px;
   
  }
  .dealimage6{
    width: 330px;
    
    position: relative;
    top: 139px;
  }
  .heading{
    position: relative;
    top: -105px;
    left: -762px;
    font-size: 25px;
  }
  .ninedeal{
    position: relative;
    top: -97px;
    left: -742px;
    width: 219px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 301px;
    
  
  }
  .paragraph9{
   
    font-weight: bold;
    position: relative;
    top: -13px;
    left: 6px;
  }
  .dealimage7{
    height: 215px;
    position: relative;
    left: 29px;
  }
  .paragraph10{
    position: absolute;
      top: 235px;
      font-weight: bold;
      left: 8px;
  }
  .paragraph11{
    position: relative;
    top: -13px;
      left: 22px;
    font-size: 10px;
  }
  .paragraph12{
    font-weight: bold;
      position: absolute;
      top: 262px;
      left: 52px;
  }
  .strike5{
    font-size: 12px;
    color: black;
    position: absolute;
    top: 281px;
    left: 101px;
  }
  .paragraph13{
    color: rgb(56, 174, 4);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
      left: 137px;
      top: -38px;
      position: relative;
  }
  .div1{
    border: 1px solid rgb(235, 68, 72);
    color: rgb(255, 255, 0);
    
    width: 337px;
    position: relative;
    left: 10px;
  }
  /* .badobadi{
    height: 100px;
    position: relative;
    left: 238px;
  }
  .ghania{
    background-color: rgb(235, 68, 72);
    position: relative;
    top: 10px;
  } */
  .tendeal{
    position: relative;
    top: -344px;
    left: 227px;
    width: 219px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 301px;
    
  
  
  
  }
  .imggalaxys24{
    position: relative;
    left: 17px;
    top: -3px;
    width: 163px;
  }
  .paragraph14{
  position: relative;
  top: -27px;
  font-weight: bold;
  }
  .paragraph15{
    position: relative;
    left: 25px;
    top: -26px;
    font-size: 10px;
  }
  .paragraph16{
    position: relative;
    left: 58px;
    top: -60px;
    font-weight: bold;
  }
  .strike6{
    position: relative;
    left: 110px;
    top: -93px;
    font-size: 13px;
  }
  .paragraph17{
    position: relative;
    left: 159px;
    top: -122px;
    font-size: 13px;
    color: rgb(56, 174, 4);
  }
  .elevendeal{
  
    position: relative;
    top: -432px;
    left: 234px;
    width: 219px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 301px;
    
  }
  .imgiphone14{
    position: relative;
    left: 17px;
    top: -3px;
    width: 163px;
  }
  .paragraph18{
    position: relative;
    left: 11px;
    top: -29px;
    font-weight: bold;
  }
  .paragraph19{
    position: relative;
    left: 13px;
    top: -72px;
   
    font-weight: bold
  }
  .paragraph20{
    position: relative;
    left: 26px;
    top: -59px;
    font-size: 10px;
  }
  .paragraph21{
    position: relative;
    left: 54px;
    top: -93px;
    font-weight: bold;
  }
  .strike7{
    position: relative;
    left: 110px;
    top: -124px;
    font-size: 13px;
  }
  .paragraph22{
    position: relative;
    left: 159px;
    top: -151px;
    font-size: 13px;
    color: rgb(56, 174, 4);
  }
  .thirteendeal{
    position: relative;
    top: -464px;
    left: 234px;
    width: 219px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 301px;
  }
  .imgsamsunga15{
    position: relative;
    left: 17px;
    top: -3px;
    width: 163px;
  }
  .paragraph23{
    position: relative;
    left: 11px;
    top: -29px;
    font-weight: bold;
  }
  .paragraph24{
    position: relative;
    left: 10px;
    top: -72px;
   
    font-weight: bold
  }
  .paragraph25{
    position: relative;
    left: 26px;
    top: -59px;
    font-size: 10px;
  }
  .paragraph26{
    position: relative;
    left: 54px;
    top: -93px;
    font-weight: bold;
  }
  .fourteendeal{
    position: relative;
    top: -764px;
    left: 469px;
    width: 219px;
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 301px;
  }
  .imgitela17{
    position: relative;
    left: 17px;
    top: -3px;
    width: 163px;
  }
  .paragraph27{
    position: relative;
    left: 11px;
    top: -29px;
    font-weight: bold;
  }
  .paragraph28{
    position: relative;
    left: 10px;
    top: -72px;
   
    font-weight: bold
  }
  .paragraph29{
    position: relative;
    left: 26px;
    top: -59px;
    font-size: 10px;
  }
  .paragraph30{
    position: relative;
    left: 54px;
    top: -93px;
    font-weight: bold;
  }
  .strike8{
    position: relative;
    left: 110px;
    top: -124px;
    font-size: 13px;
  }
  .paragraph31{
    position: relative;
    left: 159px;
    top: -151px;
    font-size: 13px;
    color: rgb(56, 174, 4);
  }
  .heading1{
    position: absolute;
      top: 298px;
      left: -460px;
  }
  .last{
    position: relative;
      left: -953px;
      width: 1341px;
      top: -39px;
  }
  .h2{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #404553;
    left: 10px;
      position: relative;
  }
  .lastpa{
    
    font-size: 16px;
    text-align: left;
    color: #404553;
    left: 10px;
      position: relative;
  }
  .lastimg{
    position: relative;
    left: 233px;
    top: 65px;
  }
  .h3{
  
    font-size: 15px;
    text-align: left;
    color: #404553;
    left: 236px;
      top: 60px;
      position: relative;
  }
  .div-1{
    display: flex;
    position: relative;
    top: -2657px;
   left:  -140px;

}
.saving{
    top: -121px;
    left: 171px;
}
.save{
    display: flex;
}
.saving1{
    width: 312px;
    margin: 6px;
}
.beautty-container{
    top: -2641px;
    position: relative;
    width: 1300px;
    left: 20px;
}
.beautty-sale{
    box-shadow: 2px 2px 2px 2px gray;
    width: 242px;
    position: relative;
    top: -2580px;
    height: 403px;
}
.class-3{
    top: -65px;
    left: 24px;
    position: relative;
    font-size: 20px;
}
.class-5{
    top: -52px;
    position: relative;
    font-size: 11px;
}
.class-6{
    top: -86px;
    position: relative;
    font-weight: bold;
    left: 48px;
}
.strike-1{
    top: -118px;
    position: relative;
    font-size: 12px;
    left: 110px;
}
.class-7{
    top: -146px;
    position: relative;
    left: 141px;
    font-size: 12px;
    color: #15bf00;
}
.beautty-sale2{
    box-shadow: 2px 2px 2px 2px gray;
    width: 242px;
    position: relative;
    top: -2978px;
    height: 403px;
    left: 284px;
}
.class-9{
    top: -29px;
    position: relative;
    left: 14px;
}
   .class-11{
    top: -27px;
    position: relative;
    font-size: 13px;
   }
  .class-12{
    top: -62px;
    position: relative;
    font-weight: bold;
    left: 47px;
  }
  .strike-2{
    position: relative;
    top: -96px;
    left: 109px;
    font-size: 13px;
  }
  .class-13{
    position: relative;
    top: -123px;
    left: 147px;
    font-size: 12px;
    color: #15bf00;
  }
  .beautty-sale3{
    box-shadow: 2px 2px 2px 2px gray;
    width: 242px;
    position: relative;
    height: 403px;
    left: 277px;
    top: -521px;
  }
  .class-20{
    position: relative;
    top: -33px;
    /* font-size: 16px; */
    left: 23px;
  }
  .class-21{
    top: -27px;
    position: relative;
    font-size: 13px;
  }
.class-23{
    top: -62px;
    position: relative;
    font-weight: bold;
    left: 47px;
}
.strike-4{
    position: relative;
    top: -96px;
    left: 109px;
    font-size: 13px;
}
.class-22{
    position: relative;
    top: -123px;
    left: 147px;
    font-size: 12px;
    color: #15bf00;
}
.beautty-sale4{
    box-shadow: 2px 2px 2px 2px gray;
    width: 242px;
    position: relative;
    height: 403px;
    left: 567px;
    top: -920px;
}
.image--july{
    position: relative;
    left: -273px;
    width: 1300px;
    top: -894px;
}
.image--h1{
    left: -259px;
    position: relative;
    top: -868px;
}
.brand-store{
    display: flex;
}
.image--deckor{
    width: 329px;
    left: -280px;
    position: relative;
    margin: 2px;
    top: -858px;
}
.image-sale{
    position: relative;
    top: -815px;
    left: -268px;
    width: 1300px;
}
.sale-container{
    display: flex;
}
.sale-image {
    width: 187px;
    position: relative;
    left: -285px;
    top: -792px;
    margin: 2px;
}
.image-sale2{
    position: relative;
    top: -784px;
    left: -268px;
    width: 1300px;
}
.sale-container2{
    display: flex;
}
.sale-image2{
    width: 187px;
    position: relative;
    left: -285px;
    top: -779px;
    margin: 2px;
}
.image-sale3{
    position: relative;
    top: -768px;
    left: -268px;
    width: 1300px;
}
.sale-container3{
    display: flex;
}
.sale-image3{
    width: 187px;
    position: relative;
    left: -285px;
    top: -765px;
    margin: 2px;
}
.image-sale4{
  position: relative;
    top: -748px;
    left: -268px;
    width: 1300px;
}
.sale-container4{
  display: flex;
}
.sale-image4{
  width: 187px;
  position: relative;
  left: -285px;
  top: -734px;
  margin: 2px; 
}
.container-banner{
  top: -675px;
  left: -287px;
  width: 1340px;
  position: relative;
}
.image-sale5{
  position: relative;
  top: -666px;
  left: -268px;
  width: 1300px;
}
.sale-container5{
  display: flex;
}
.sale-image5{
  width: 187px;
  position: relative;
  left: -285px;
  top: -648px;
  margin: 2px; 
}
.image-sale6{
  position: relative;
  top: -638px;
  left: -268px;
  width: 1300px;
}
.sale-container6{
  display: flex;
}
.sale-image6{
  width: 187px;
  position: relative;
  left: -285px;
  top: -626px;
  margin: 2px; 
}
.image-sale7{
  position: relative;
  top: -617px;
  left: -268px;
  width: 1300px;
}
.sale-container7{
  display: flex;
}
.sale-image7{
  width: 187px;
  position: relative;
  left: -285px;
  top: -611px;
  margin: 2px; 
}
.imglst{
  width: 1351px;
  position: relative;
  top: -522px;
  left: -293px;
}
.div-end{
  position: relative;
  left: -238px;
  top: -580px;
}
.appstore{
  position: relative;
  top: -717px;
  left: 240px;
}
  /* Tablet styles */
  @media (max-width: 380px) {
    
    .container {
        padding: 15px;
    }
  
  
    #first {
        flex-direction: column;
        align-items: flex-start;
    }
  
    #input1 {
      position: relative;
      top: 40px;
      left: -2px;
      width: 268px;
    }
  .p1{
    position: relative;
    top: 28px;
    left: -143px;
  }
    .p2{
      position: relative;
          top: 36px;
          left: -910px;
    }
    .p3{
      position: relative;
      top: -12px;
      left: -906px;
    }
    .p4{
      position: relative;
          top: -60px;
          left: 131px;
    }
    .p5{
      position: relative;
      top: 21px;
      left: -908px;
    }
    .p6{
      position: relative;
          top: -24px;
          left: 46px;
    }
    .p7{
      position: relative;
      top: -74px;
      left: 248px;
    }
    .p8{
      position: absolute;
      left: -901px;
      top: 235px;
    }
    .p9{
      position: relative;
          left: -147px;
          top: -76px;
    }
    .p10{
      position: relative;
          left: 49px;
          top: -124px
    }
    .p1, .p3, .p6, .p9 {
        margin: 28px 0;
    }
    .hover-element{
      position: absolute;
      top: -14px;
      left: 254px;
    }
    .a4{
      top: -14px;
          left: 243px;
    }
    .a5{
      top: 7px;
      left: 21px;
      position: relative;
    }
    .a6{
    position: relative;
    top: -60px;
    left: 19px;
    }
    .a7{
      position: relative;
      top: -62px;
      left: 191px;
  
    }
    .a8{
      position: relative;
      top: -123px;
      left: 194px;
  
    }
    .a9{
      position: relative;
      top: -78px;
      left: 17px;
  
    }
    .a10{
      position: relative;
      top: -80px;
      left: 18px;
    }
   #select{
    position: relative;
    left: 3px;
    font-size: small;
    top: 5px;
   }
   .imagebanner{
    top: -287px;
    width: 439px;
   }
   .imageslidder{
  position: relative;
  top: -80px;
  width: 412px;
  height: 205px;
  left: -444px;
   }
   .men{
  left: -872px;
  top: 150px;
   }
   .woman{
    top: 150px;
    left: -877px;
   }
   .imagedeal1{
  top: 153px;
  left: 11px;
   }
   .imagedeal2{
  top: 145px;
  left: 30px;
   }
   .imagedeal3{
    top: 159px;
    left: 42px;
   }
   .imagedeal4{
    top: 281px; ;
    left: -298px ;
   }
   .imagedeal5{
    top: 286px;
    left: -282px;
   }
   .imagedeal6{
    top: 286px;
    left: -270px;
   }
   .imagedeal7{
  top: 426px;
  left: -618px;
  
   }
   .imagedeal8{
    top: 424px; ;
    left: -595px; ;
   }
   .imagedeal9{
    top: 433px; ;
    left: -589px; ;
   }
   
   .imagedeal11{
    top: 547px; ;
    left: -928px; ;
   }
   .imagedeal12{
    top: 546px; ;
    left: -904px; ;
   }
  .border1{
    top: 555px;
    height: 1060px;
  }
  .imagechase1{
    width: 300px;
    height: 250px;
  }
  .imagechase2{
    width: 300px;
    height: 250px;
  }
  h1{
    top: -7px;
  }
  .seconddeal{
    top: 553px;
    left: 1px;
  }
  .ninedeal{
    left: -273px;
    top: -150px;
  }
  
  .elevendeal{
  top: -94px;
  left: -225px;
  }
  
  .fourteendeal{
  top: -451px;
  left: 1px;
  }
  .seventhdeal{
    top: -1481px;
    left: 1px;
  }
  .last{
    top: 657px;
    width: 410px;
    height: 96px;
    left: -3px;
  }
  .lastimg{
  left: 1px;
  }
  .h3{
    left: 1px;
  }
  
  }
  .lastdiv{
    position: relative;
    top: -2769px;
  }
  
  