body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
}

.quiz-container {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
}

.btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.btn:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-container button {
    margin: 5px 0;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #2980b9;
}
